@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Razor Book List</h1>
    <p>This web app was created using ASP.NET Razor.</p>
</div>
